/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: 'Cabin', arial, sans-serif;
		background: #006e96 url("/olivermebberson/images/body-bg.png") 0 55px no-repeat;			
	}
	
	h1 {
		text-shadow: 1px 1px 1px #333;
		filter: dropshadow(color=#333, offx=1, offy=1);
	}
	
	section h1, section hgroup h1 {
		font-family: 'Carter One', arial, sans-serif;
		color: #58d4ff;
		margin-bottom: 10px;
	}
	
	article h1 {
		font-family: 'Cabin', arial, sans-serif;
	}
	
	header {
		background: #000 url("/olivermebberson/images/header-bg.gif") repeat-x;
		height: 55px;
		line-height: 50px;
		margin-bottom: 52px;
	}
	
	header h1 {
		color: #006d95;
		font-size: 1.4em;
		display: inline-block;
		vertical-align: middle;
	}
	
	header h1 span {
		color: #58d4ff;
	}
	
	header.mast hgroup h1 {
		text-shadow: 1px 1px 1px #000;
		filter: dropshadow(color=#000, offx=1, offy=1);
	}
	
	section.sayings hgroup {
		margin-bottom: 10px;
	}
	
	section.sayings hgroup h1 {
		float: left;
	}
	
	section.sayings hgroup h2 {
		float: left;
		padding-top: 1.2em;
		margin-left: 15px;
		font-size: 1em;
	}
	
	section.saying aside {
	
		border-bottom: 1px solid #333;
		padding: 5px;
	
	}
	
	article.saying {
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;		
		background: #022430;
	}
	
	article.saying h1 {
		font-size: 1.4em;
		font-style: italic;
		margin-bottom: 12px;
		float: left;
	}
	
	article.saying time {
		line-height: 32px;
	}
	
	article.saying p, article.saying time {
		color: #9ae5ff;
	}
	
	article.saying time {
		float: right;
	}
	
	article.saying p {
		clear: left;
	}

	article.saying div {
		padding: 15px;
	}
	
	footer {
		padding-top: 40px;
	}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	
	header.mast hgroup {
		width: 165px;
		margin: 0 auto;
	}
	
	article.saying {
		margin-bottom: 20px;
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}